.circle{
    height: 500px;
    width: 500px;
    border-color: black;
    border-style: dashed;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
  &-1,&-2,&-3,&-4
  ,&-5,&-6,&-7,&-8
  ,&-9,&-10,&-11
  ,&-12,&-13,&-14 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid #73AD21;
    animation-name: circle-1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-left: 100;
  }

  &-1{
    position: absolute;
    width: 100px;
    height: 100px;
    animation-name: circle-1;
  }

    /* Standard syntax */
    @keyframes circle-1 {
      0% {transform: rotate3d(0,0,0,0deg)}
      100% {transform: rotate3d(1,0,0,360deg)}
    }

  &-2{
    position: absolute;
    width: 200px;
    height: 200px;
    animation-name: circle-2;
  }

  @keyframes circle-2 {
    0% {transform: rotate3d(0,0,0,0deg)}
    100% {transform: rotate3d(0,1,0,360deg)}
  }

  &-3{
    position: absolute;
    width: 300px;
    height: 300px;
    animation-name: circle-3;
  }

  @keyframes circle-3 {
    0% {transform: rotate3d(0,0,0,0deg)}
    100% {transform: rotate3d(5,1,0,360deg)}
  }
}
